body {
  padding: .1em 1.5em;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: -10px;
}

.intro-pic {
  background-image: url("pic.jpg");
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  margin-left: 4em;
  margin-right: 1em;
  position: relative;
  z-index: -1;
}

.intro-text {
  font-style: italic;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  padding-top: 2.8em;
}

h2 {
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 19px;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: center;
}

#languages {
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}

wrap {
  width: 50%;
  margin: 0 auto;
}

.bar {
  background: #3bc28e;
  width: 0;
  margin: .25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background .2s;
  clear: both;
}

.bar:nth-of-type(odd) {
  background: #459173;
}

.bar .label {
  font-size: 1.2em;
  padding: .5em;
  background: #686666;
  width: 5em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.bar .label.second {
  background: rgb(65, 70, 69);
}

.count {
  position: absolute;
  right: .25em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
}

.line {
  width: 100%;
  z-index: -2;
  background-color: rgb(233, 232, 232);
}

#projects {
  list-style-type: none;
  text-align: center;
  line-height: 2em;
  font-size: 20px;
}

input[type=text], #message {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid black;
  box-shadow: 5px 10px rgb(41, 38, 38);
}

input[type=submit] {
  padding: 12px 20px;
  margin: 8px 0;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Playfair Display', serif;
  float: right;
}

.contact-follow {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-top: 1em;
}

h5 {
  font-size: 18px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 28px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#greet {
  font-size: 18px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
}

#endnote {
  font-size: 12px;
  float: right;
}

#header-container {
  transition: background-color .5s;
}

.projects a {
  margin-top: 1em;
  display: block;
  font-size: 27px;
  text-align: center;
}

.projects {
  padding-bottom: 180px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) and (min-width: 451px) {
  .intro-text {
    font-size: 20px;
    margin-top: 1.8em;
  }
  .intro-pic {
    height: 420px;
  }
  p {
    font-size: 22px;
  }
}

@media screen and (max-width: 550px) and (min-width: 501px) {
  .intro-text {
    margin-top: 2.3em;
  }
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 23px;
  }
}

@media screen and (max-width: 550px) and (min-width: 451px) {
  .intro-pic {
    height: 500px;
  }
  .intro-text {
    font-size: 25px;
    padding-top: 1em;
  }
  h1 {
    font-size: 40px;
  }
  .holder {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) and (min-width: 551px) {
  .intro-pic {
    height: 520px;
  }
  .intro-text {
    font-size: 27px;
    margin-top: 2em;
  }
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 27px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 25px;
  }
  .holder {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 700px) and (min-width: 601px) {
  .contact-follow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
    text-align: right;
  }
}

@media screen and (max-width: 800px) and (min-width: 701px) {
  .contact-follow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
  }
  h5 {
    font-size: 26px;
    text-align: right;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .intro-pic {
    height: 500px;
    margin-right: 7em;
  }
  .intro-text {
    font-size: 32px;
  }
  h3 {
    padding-left: 1em;
  }
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 26px;
  }
  .holder {
    margin-bottom: 40px;
  }
  .form-container label {
    font-size: 23px;
  }
  input[type=submit] {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .intro-pic {
    height: 530px;
    margin-right: 9em;
  }
  .intro-text {
    font-size: 35px;
  }
  h3 {
    padding-left: 80px;
  }
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 27px;
  }
  .holder {
    margin-bottom: 40px;
  }
  .form-container label {
    font-size: 23px;
  }
  input[type=submit] {
    font-size: 20px;
  }
  .contact-follow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
  }
  h5 {
    font-size: 26px;
    text-align: right;
  }
  .form-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .intro-pic {
    height: 550px;
    margin-right: 13em;
  }
  .intro-text {
    font-size: 40px;
  }
  h3 {
    padding-left: 200px;
  }
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 27px;
  }
  .holder {
    margin-bottom: 40px;
  }
  .form-container label {
    font-size: 23px;
  }
  input[type=submit] {
    font-size: 20px;
  }
  .contact-follow {
    padding-top: 25%;
    font-size: 24px;
  }
  h5 {
    font-size: 26px;
  }
  .form-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1201px) {
  .intro-pic {
    height: 500px;
    margin-right: 12em
  }
  .intro-text {
    font-size: 42px
  }
  h3 {
    padding-left: 340px;
    margin-top: 10px;
  }
  h1 {
    font-size: 45px;
  }
  h4 {
    font-size: 30px;
  }
  h2 {
    font-size: 42px;
  }
  p {
    font-size: 29px;
  }
  .holder {
    margin-bottom: 30px;
  }
  .form-container label {
    font-size: 23px;
  }
  input[type=submit] {
    font-size: 20px;
  }
  .contact-follow {
    padding-top: 25%;
    font-size: 26px;
  }
  h5 {
    font-size: 26px;
  }
  .form-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto
  }
  .form-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1301px) {
  .intro-pic {
    height: 500px;
    margin-right: 29%;
  }
  .intro-text {
    font-size: 38px;
    margin-left: 29%;
  }
  h3 {
    margin-top: 10px;
  }
  h1 {
    font-size: 45px;
  }
  h4 {
    font-size: 30px;
  }
  h2 {
    font-size: 43px;
  }
  p {
    font-size: 32px;
  }
  .holder {
    margin-bottom: 40px;
  }
  .form-container label {
    font-size: 23px;
  }
  input[type=submit] {
    font-size: 20px;
  }
  .contact-follow {
    padding-top: 20%;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
  }
  h5 {
    font-size: 26px;
  }
  .form-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto
  }
  .form-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 601px) {
  #greet {
    font-size: 24px;
  }
  #endnote {
    font-size: 15px;
  }
  .sidenav a {
    font-size: 35px;
    padding: 52px 12px 82px 36px;
  }
  .sidenav {
    padding-top: 100px;
  }
}